<div class="banner-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="contact-form">
          <div class="legend">Contact us</div>
          <%= simple_form_for @message, url: contact_path do |f| %>
            <%= f.error_notification %>
            <%= f.input :name, placeholder: "Name" %>
            <%= f.input :email, placeholder: "bob@bob.com" %>
            <%= f.input :content, placeholder: "Message", as: :text %>
            <%= f.error :base %>
              <div style="text-align: left;">
              <%= f.submit "Send", class: "btn btn-default" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>















