<!-- profile partial -->

     <!-- PROFILE PHOTO -->
      <div class="col-xs-3">
        <% if current_user.avatar? %>
          <%= cl_image_tag current_user.avatar.path, class: "avatar-large-sq " %>
        <% end %>
        </div>

      <div class="col-xs-offset-1 col-xs-5"> <!-- PROFILE TEXT -->
          <p><%= current_user.first_name %> <%= current_user.last_name %><br>
            <%= current_user.address %><br>
            <%= current_user.city %><br>
            <%= current_user.post_code %><br>
            <%= current_user.company %></p>
      </div>

