<!-- profile partial -->

      <% if current_user.avatar? %>
        <%= cl_image_tag current_user.avatar.path, class: "avatar-bordered" %>
      <% end %>
      <div>
        <ul>
          <li><%= current_user.first_name %></li>
          <li><%= current_user.last_name %></li>
          <li><%= current_user.address %></li>
          <li><%= current_user.city %></li>
          <li><%= current_user.post_code %></li>
          <li><%= current_user.company %></li>
        </ul>
      </div>

