<nav class="navbar1 navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= image_tag "Bug.png", :alt=> "logo", :height => '50px' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li >
          <%= link_to t(".top_call_to_action", default: "Home"), pages_about_path %>
        </li>
        <li >
          <%= link_to t(".top_call_to_action", default: "About us"), pages_about_path %>
        </li>
        <li>
          <%= link_to t(".top_call_to_action", default: "Landlords"), homes_path %>
        </li>
        <li>
          <%= link_to t(".top_call_to_action", default: "Agents"), homes_path %>
        </li>
        <li>
          <%= link_to t(".top_call_to_action", default: "Search"), homes_path %>
        </li>
        <li>
          <%= link_to t(".top_call_to_action", default: "Property"), new_home_path %>
        </li>
        <li>
          <%= link_to t(".top_call_to_action", default: "Contact"), pages_contact_path %>
        </li>

        <!-- DROP DOWN PROFILE if logged in -->
        <li class="dropdown">
        <% if current_user %>

          <!-- If not logged in AVATAR -->
          <% if current_user.avatar? %>
          <%= cl_image_tag current_user.avatar.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
          <%= image_tag "http://placehold.it/50x50", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>


          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_profile_path do %>
              <i class="fa fa-user"></i>
              <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
              <i class="fa fa-home"></i>
              <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>
              <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </li>

        <% else %>
          <!-- DROP DOWN PROFILE if NOT logged in -->
          <%= link_to t(".sign_in", default: "Log in"), new_user_session_path %>
        <% end %>

        <!-- DROP DOWN PROFILE end -->

      </ul>
    </div>
  </div>
</nav>

