
<div class="col-xs-6">
  <%= simple_form_for [@home, @home_review] do |f| %>
  <%= f.input :content, as: :text, placeholder: "What was your experience?" %>
  <%= f.input :repair_report, as: :text, placeholder: "What is state of repair?" %>
  <%= f.input :rating, collection: 1..5 %>
  <%= f.submit "Add review", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="col-xs-6">
  <% @home.home_reviews.each do |r| %>
  <p><%= r.created_at %></p>
  <p><%= r.repair_report%></p>
  <p><%= r.content %></p>
  <% r.rating.times do %>
  <p><i class="fa fa-star text-primary"></i></p>
  <% end %>
  <% end %>
</div>


