<h1 class="text-center">Property listing</h1>


<%= form_tag homes_path :method => 'get' do%>
<p>
  <%= text_field_tag :search, params[:search] %>
  <div><%= submit_tag 'Search', :name => nil %></div>
  </p>
<% end %>

<div class="p-wrapper">
  <div class="container">
    <div class="row">
    <% @homes.each do |home| %>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="card-gray">
          <div class="card padded" style="background-image: url('<%= home.pictures.first ? cl_image_path(home.pictures.first.path) : nil %>')">
          </div>
          <div class="card-details">
            <%= home.address %>
            <%= home.status %>

          </div>
            <%= link_to "#", home_path(home), class: "card-link" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>









