<!-- SEARCH FORM  -->

<div class="banner-light-grey">

  <div class="search-pop-out gray-lt">
    <%= form_tag(homes_path, :method => 'get', class: "form-inline") do %>
      <div class="search-element">
        <!-- post code search box -->
        <span>Search by zipcode</span>
        <%= text_field_tag :address, params[:address], :placeholder => "Enter Full Postcode", :class => 'form-control' %>
      </div>

      <!-- types of home -->
      <div class="search-element">
        <span>Property type</span>
        <% Home::TYPE.each do |type| %>
        <% checked = params[:types].include?(type) ? "checked" : "" if params[:types] %>
          <div class="check-element">
            <label for="Type"><%= type %></label>
            <input type="checkbox" value="<%= type %>" name="types[]" id="<%= type %>">
          </div>
        <% end %>
      </div>

      <!-- number of rooms -->
      <div class="search-element">
        <span>Number of rooms</span>
        <% Home::NUMBER_OF_ROOMS.each do |room| %>
        <% checked = params[:rooms].include?(room) ? "checked" : "" if params[:rooms] %>
          <div class="check-element">
            <label for="<%= room %>">
              <%= room %>
            </label>
            <input type="radio" value="<%= room %>" name="rooms[]" id="<%= room %>">
          </div>
        <% end %>
      </div>

      <!-- search button -->
      <div class="form-group">
        <%= submit_tag 'Search', class: "btn btn-default" %>
      </div>
    <% end %>
  </div>

  <div class="search-results">
    <div id="map" class="map">
    </div>
    <h1>Property listings</h1>
      <% @homes.each do |home| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="card-gray">
            <div class="card-padded" style="background-image: url('<%= home.pictures.first ? cl_image_path(home.pictures.first.path) : nil %>')">
            </div>
            <div class="card-details">
              <%= home.address %>
              <%= home.post_code %>
              <%= home.status %>
            </div>
            <%= link_to "#", home_path(home), class: "card-link" %>

          </div>
        </div>
    <% end %>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: {scrollwheel: false}, internal: { id: 'map' } }, function() {
        var map = handler.getMap();

        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          map.setZoom(6);
        } else if (markers.length == 1) {
          map.setZoom(14);
        }

        var infowindow = new google.maps.InfoWindow();

        function createMarker(place) {
          var placeLoc = place.geometry.location;
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            icon: new google.maps.MarkerImage(
              place.icon,
              null, /* size is determined at runtime */
              null, /* origin is 0,0 */
              null, /* anchor is bottom center of the scaled image */
              new google.maps.Size(32, 32)
              )
          });

          google.maps.event.addListener(marker, 'click', function() {
            console.log(place);
            infowindow.setContent(place.name);
            infowindow.open(map, this);
          });
        }

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: map.getCenter(),
          radius: 10000,
          type: ['doctor']
        }, function (results, status) {
          console.log(results);
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              var place = results[i];
              createMarker(place);
            }
          }

        })
      });
    });
  </script>
<% end %>
