<h1 class="text-center">Property listing</h1>






<div class="container">
  <div class="row">
    <% @homes.each do |home| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card padded" style="background-image: url('<%= cl_image_path home.pictures.first.path %>')">
          <div class="card-description">
            <%= home.address %>
            <%= home.status %>
          </div>
          <%= link_to "#", home_path(home), class: "card-link" %>
        </div>
      </div>
    <% end %>


<div class="text-center padded">
  <%= link_to "Add a property", new_home_path, class: "btn btn-primary" %>
</div>




