<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= @home.address %>
        <%= link_to 'Back', homes_path %>
        <% @home.pictures.each do |picture| %>
          <%= cl_image_tag picture.path, width: 300, height: 200, crop: :fill %>
        <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @home_coordinates %>;
      alert('Home coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>

<%= render "showmap" %>
