  <% if @home.pictures.first
    main_home_picture = cl_image_path @home.pictures.first.path
  else
    main_home_picture = ""
  end %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= main_home_picture %>');">
  <div class="container">
    <div class="row">

      <!-- inner content for banner -->
        <div class="section">

          <div class="text-wrapper">
            <p><%= @home.address %></p>
            <p>
              <% if @home.status == "" %>
                No status
              <% else %>
                <%= @home.status %>
              <% end %>
            </p>
          </div>
          <!-- map -->
          <div class="map-wrapper">

            <% if @hash && @hash.first[:lat] %>
              <div id="map" style="height: 100vh; width: 100%"></div>

              <% content_for(:after_js) do %>
                <script>
                  $(document).on('ready', function() {
                    var handler = Gmaps.build('Google');
                    handler.buildMap({ internal: { id: 'map' } }, function() {
                      markers = handler.addMarkers(<%= raw @hash.to_json %>);
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      if (markers.length == 0) {
                        handler.getMap().setZoom(2);
                      } else if (markers.length == 1) {
                        handler.getMap().setZoom(14);
                      }
                    });
                  });
                </script>
              <% end %>
            <% end %>

            <%= content_for(:after_js) do %>
            <script>
              $(function(){
                $('.datepicker').datepicker({
                  format: 'dd-mm-yyyy',
                  startDate: '+0d',
                  autoclose: true
                });
              })
            </script>
            <% end %>
          </div>





          <div class="text-left">
            <% if current_user %>
              <div class="form-wrapper">
                <%= render 'homes/booking_form' %>
              </div>
            <% else %>
              <p>Log in if you want to book an appointment.</p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
